<div class="left w-20 ">
  <aside class="d-flex">
    <div class="menu-left vh-100 bg-primary d-flex align-items-center flex-column" style="width:50px">
      <div class="box-left bg-warning mt-2 bg-white"></div>
      <div class="icons mt-4 d-flex flex-column gap-3">
        <a href="/dashboard"><i class='bx bxs-home-alt-2 fs-4 text-white'></i></a>
        <a href="/list-cars"> <i class='bx bx-car fs-4 text-white'></i></a>
      </div>
    </div>
    <div class="menu-left-title vh-100 bg-white border-end w-100 py-2 d-flex align-items-center flex-column">
      <div class="title w-100 text-center">
        <p class="fs-5 fw-bold border-bottom">Dashboard</p>
      </div>
      <div class="menus d-flex justify-content-center align-items-center flex-column gap-4 mt-2">
        <div class="menu-item">
          <a href="/dashboard" class="link">Dashboard</a>
        </div>
        <div class="menu-item">
          <a href="/list-cars" class="link">List Cars</a>
        </div>
      </div>
    </div>
  </aside>
</div>